<header class="modal-header">
    <div class="row w-100 align-items-center">
        <div class="col-md-11 col-10">
            <h3 class="modal-title">{{ 'user.user' | translate }}</h3>
        </div>

        <div class="col-md-1  col-2 justify-content-end">
            <button type="button" class="btn p-0 close" data-dismiss="alert" (click)="cancel()">
                &times;
            </button>
        </div>
    </div>
</header>


<div class="modal-body">
    <div class="row item-container" *ngIf="selectedItems">
        <div class="col-12 img-container">
            <div class="name-with-image">
                <div class="image-circle mr-3">
                    <div class="image m-0">
                        <img *ngIf="selectedItems.image" [src]="selectedItems.image" (error)='selectedItems.image = ""' alt="{{selectedItems.name}}">
                        <span *ngIf="!selectedItems.image">
                            {{ selectedItems.name | shortName }}
                        </span>
                    </div>
                </div>
                <div class="name">
                    <h5>{{selectedItems.name}}</h5>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="info">
                <h5>
                    <span>{{ 'user.status' | translate }}: </span>
                    <span [ngClass]="{ 'active': selectedItems.status == 'active', 'softDeleted': selectedItems.status == 'soft_deleted'}"> {{selectedItems.status}}</span>
                   
                </h5>
                <h5>
                    <span>{{ 'user.email' | translate }}: </span>
                    <span>{{selectedItems.email}}</span>
                    
                </h5>
                <h5>
                    <span>{{ 'user.phone' | translate }}: </span>
                    <span>{{selectedItems.phone}}</span>
                  
                </h5>
            </div>
         
        </div>
    </div>

</div>
